{% extends "base.html" %}
{% block content %}
<h2>Search Recipes</h2>
<form method="post">
  <input class="form-control mb-3" name="query" placeholder="Search by name or ingredient">
  <button class="btn btn-info" type="submit">Search</button>
</form>
<hr>
<ul class="list-group mt-3">
  {% for recipe in results %}
    <li class="list-group-item">
      <strong>{{ recipe.title }}</strong><br>
      <small>{{ recipe.ingredients }}</small>
    </li>
  {% else %}
    <li class="list-group-item">No results.</li>
  {% endfor %}
</ul>
{% endblock %}
